.main-page-content {
  margin-top: 117px;
  padding-left: 120px;
}

.text-title {
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #062847;
  margin-bottom: 24px;
}

.text-subtitle {
  font-size: 20px;
  line-height: 36px;
  color: #5a6774;
}

.mail-text {
  text-decoration: none;
  color: #1890ff;
}
